.analysis-container {
  padding: 20px;
}

#connected-chip {
  color: white;
  background: #13CE66;
}

#disconnected-chip {
  color: white;
  background: #FF4949;
}

.loading-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}